
    .card {
        margin-bottom: 20px;
    }

    .tab-content {
        padding: 15px 0;
    }

    /* Responsive tab navigation */
    .nav-tabs {
        flex-wrap: wrap; /* Allow tabs to wrap on smaller screens */
    }

    .nav-tabs .nav-item {
        flex: 1; /* Make each tab take equal space */
        text-align: center; /* Center the text in tabs */
    }

    .table-responsive {
        overflow-x: auto; /* Allow horizontal scrolling for tables */
    }

    /* Ensure tables are full-width on smaller screens */
    .table {
        width: 100%;
    }


:root {
    --dark-gray: #61656F;
    --medium-gray: #748771;
    --deep-emerald: #044827;
    --teal: #2F6867;
    --light-gray: #E8E8E8;
}

.card-header  {
    background-color: var(--deep-emerald);
}

.card-header  {
    background-color: var(--teal);
}

.card-header  {
    background-color: var(--medium-gray);
}

